:root {
  --main-color: #d44d46;
  --body-color: #f5d7d5;
  --bg-color: #f5d7d5b3;
  --icons-color: #364044;
  --icons-text-color: #cccccc;
  --text-color: #ffffff;
}
/* :root {
  --main-color: #5481c7;
  --body-color: #D9E2F1;
  --bg-color: #dae2f1b3;
  --icons-color: #1B262C;
  --icons-text-color: #cccccc;
  --text-color: #ffffff;
} */
/* :root {
  --main-color: #34568b;
  --body-color: #D9E2F1;
  --bg-color: #dae2f1b3;
  --icons-color: #1B262C;
  --icons-text-color: #cccccc;
  --text-color: #ffffff;
} */
.bg-tx {
  background-color: var(--main-color);
  color: var(--text-color);
}
.bg-tx-2 {
  background-color: var(--icons-color);
  color: var(--icons-text-color);
}
.bg-tx-3 {
  background-color: var(--body-color);
  color: var(--text-color);
}
.bg-tx-4 {
  background-color: var(--body-color);
  color: var(--icons-color);
}
.navbar {
  background-color: var(--main-color);
}
.logo {
  width: 100px;
}
.navbar .navbar-nav .nav-link {
  color: var(--icons-text-color);
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--text-color);
}
.btn-me:hover {
  background-color: var(--text-color);
  color: var(--main-color);
}
.navbar-toggler svg {
  font-size: 25px;
}
.navbar-toggler {
  color: var(--text-color);
  border-color: var(--text-color);
}
.navbar-toggler:focus,
.form-check-input:focus {
  box-shadow: none;
}
.offcanvas.offcanvas-top {
  width: 600px;
  height: 400px;
}
.carousel-inner {
  height: calc(100vh - 75px);
}
.carousel-item {
  background-image: url(../Images/image1.jpeg);
  background-size: cover;
}
.carousel-item-two {
  background-image: url(../Images/image2.jpg);
}
.carousel-item-three {
  background-image: url(../Images/image3.jpg);
}
.carousel-dwon {
  background-color: var(--bg-color);
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
}
.carousel-dwon-head {
  color: var(--icons-color);
  font-size: 35px;
  font-weight: 700;
}
.carousel-dwon-desc {
  color: var(--icons-color);
}
.side-icons {
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  background-color: var(--bg-color);
}
.side-icons a svg {
  font-size: 45px;
  color: var(--main-color);
}
.copy-area {
  min-height: 250px;
}
.copy-area .text-area {
  height: 150px;
}
.press-link {
  color: var(--main-color);
}
.test {
  background-image: url(../Images/back.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.overlay {
  height: 300px;
}
.card {
  max-height: 500px;
  width: 80%;
}
.box-img {
  left: 0;
  bottom: 0;
}
.thanks {
  top: 0;
}
.team-box {
  transition: 0.3s;
}
.team-box:hover {
  transform: scale(1.1);
}
.team-box::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  height: calc(100% - 14px);
  width: calc(100% - 14px);
  background-color: var(--bg-color);
  border-radius: 33px;
  visibility: hidden;
}
.box:hover::before {
  visibility: visible;
}
.news-header {
  color: var(--main-color);
}
.join-us-i{
  font-size: 100px;
  line-height: 5rem;
}
.instagram {
  background-image: linear-gradient(blue, #FE0363, #FDCB00 );
}
.linkedin {
  background-color: #0a66c2;
}
.whatsapp {
  background-color: #00c298;
}
